/* forms.module.css */

.formContainer {
    width: 100%;
    min-width: 200px;
    margin: auto;
    padding: 20px;
    background-color: var(--background-after);
    border-radius: 8px;
}

.inputField {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--color);
    color: var(--color);
    background: none;
    border-radius: 4px;
    box-sizing: border-box;
    transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.inputField:hover, .inputField:active, .inputField:focus {
    background: var(--background-before);
    border-color: var(--background-before);
}

.inputField:focus {
    outline: none;
}

.button {
    width: 100%;
    background-color: var(--color);
    color: var(--background-before);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button:hover, .button:active {
    background-color: var(--background-before);
    color: var(--color);
}

.errorText {
    background: var(--background-before);
    color: rgba(220, 53, 70, 0.6);
    border: 1px solid rgba(220, 53, 70, 0.6);
    border-radius: var(--border-radius);
    padding: 5px 10px;
    text-align: center;
    margin-top: 8px;
    cursor: pointer;
    transition: background 0.2s linear, color 0.2s linear, border 0.2s linear;
}

.errorText:hover, .errorText:active{
    background: rgba(220, 53, 70, 0.6);
    color: var(--background-before);
    border: 1px solid var(--background-before);
}